section, article {
    display: block;
}

#successStoryEditor {

}

#successStory {
    border: 3px solid gray;
    padding: 3px;
    width: 33%;
    margin-right: 5px;
    height: 470px; /* fixed 3 articles */
    min-width: 300px;
}

#successStory header h1 {
    text-align: center;
}

#catchPhrase {
    text-align: center;
}

article {
    clear: both;
    padding-top: 5px;
    min-height: 130px;
}

article h1 {
    margin-top: 0;
    margin-bottom: 0;
}

img.thumbnail {
    float: left;
    margin-right: 5px;
    height: 100px;
    width: 150px;
}

#summary {
    word-wrap:break-word;
}

#title h2 {
    font-weight: bold;
    text-align: left;
    padding-bottom: 20px;
}

#contentAll {
    text-align: left;
    display: block;
}

#contentImg {
    position: relative;
    float: left;
    z-index: 10;
    clear: left;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

#contentImg img {
    width:430px;
    height:auto;
}

#contentText {
    font-size: 1em;
    line-height: 1.5;
}

/* --------- form ---------- */
.form-container {
    display: block;
}

.form-divider {
    clear:both;
    height: 5px;
}

.notLast {
    float: left;
    margin-right: 5px;
}