build/
.idea/
.gradle/
out/
target/
dependency-reduced-pom.xml
FunctionalTests/.classpath
FunctionalTests/.project
FunctionalTests/.settings
FunctionalTests/bin
FunctionalTests/logs
db/bloodtorrent.h2.db
db/bloodtorrent.lock.db
