build/
.idea/
.gradle/
out/
target/
dependency-reduced-pom.xml
FunctionalTests/bin
FunctionalTests/logs
db/bloodtorrent.*.db
FunctionalTests/reports/*
FunctionalTests/sahi/userdata/browser/ff/profiles
